In [1]:
import pandas as pd
import json

In [2]:
file_path_mapping = 'general_categories_mapping.json'

In [3]:
# Reading the mapping file as a regular JSON using UTF-8 encoding
with open(file_path_mapping, 'r', encoding='utf-8') as file:
    mapping_data = json.load(file)

In [4]:

# Convert the JSON data to a DataFrame
df_mapping = pd.DataFrame(mapping_data.items(), columns=['Category', 'Description'])

In [5]:
df_mapping.head(10)

   Category                              Description
0   1016160                                   Воланы
1  16065434                   Катетеры урологические
2  15450095                             Винные шкафы
3     91230                                      Pop
4    819169    Корректоры метаболизма хрящевой ткани
5    294642                                Чейнджеры
6  15259392                         Плазменная резка
7     90907  Нормативные акты и документы (inactive)
8     90921    Антикварные и редкие книги (inactive)
9   6856242    Зарядные устройства для аккумуляторов

In [7]:
df_mapping[df_mapping['Category'] == '13238898']

     Category Description
684  13238898    Гель-лак

In [8]:
df_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3432 entries, 0 to 3431
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     3432 non-null   object
 1   Description  3432 non-null   object
dtypes: object(2)
memory usage: 53.8+ KB

In [10]:
df_mapping.describe()

       Category Description
count      3432        3432
unique     3432        3102
top     1016160  Аксессуары
freq          1          41

In [11]:
df_mapping['Category'].value_counts()

Category
1016160     1
6374360     1
14348801    1
90963       1
91246       1
           ..
15694869    1
15697648    1
15714105    1
15714117    1
121006      1
Name: count, Length: 3432, dtype: int64

In [ ]:
# шпоргалка
df.describe()
df.describe(include='all')
df.describe(include='object')
df.info()
df['column_name'].value_counts()
df.head() # первые 5 записей
df.tail() # последние 5 записей
df['column_name'].unique()
df['column_name'].nunique()
df.groupby('column_name').mean()
df.corr()
df.count()